<span class="emission"><%=number_with_delimiter segment.emission.round %> kg</span> <span class="origin"><%= segment.origin_airport %> to </span><%= segment.destination_airport %> <span class="aircraft"><%= segment.aircraft %></span> <%= link_to 'Methodology', segment.methodology %> 
