<% form_for search do |f| %>
<p><%= f.label :origin_airport %><%= f.text_field :origin_airport %></p>
<p><%= f.label :destination_airport %><%= f.text_field :destination_airport %></p>
<p><%= submit_tag %></p>
<% end %>
