<h2>
  <%= @title = "#{@search.origin_airport.upcase} to #{@search.destination_airport.upcase}" %>
  <span class="depart_date date">on <%= @search.date.to_formatted_s :date_with_day_name %></span>
  <% if @search.round_trip %>
  <span class="return_date date">returning <%= @search.return_date.to_formatted_s :date_with_day_name %></span>
  <% end %>
</h2>

<%= render :partial => 'itineraries/ol', :locals => { :itineraries => @itineraries } %>

<p><%= link_to 'Start over', root_path, :class => 'button' %></p>

<% content_for :bottom do %>
<script type="text/javascript">
document.observe('dom:loaded', markBest);

function markBest() {
  firstItinerary = $$('ol.itineraries>li').first();
  lowestPrice = Number(firstItinerary.down('dd.price a').innerHTML.gsub(/[^0-9\.]/, ''));
  cheapestItinerary = $$('ol.itineraries>li').select(function(itinerary) {
    return Number(itinerary.down('dd.price a').innerHTML.gsub(/[^0-9\.]/, '')) == lowestPrice;
  }).sortBy(function(itinerary) {
    return Number(itinerary.down('dd.emission strong').innerHTML.gsub(/[^0-9\.]/, ''));
  }).first();
  cheapestFootprint = Number(cheapestItinerary.down('dd.emission strong').innerHTML.gsub(/[^0-9\.]/, ''));
  lowestFootprint = $$('ol.itineraries>li').min( function(itinerary) { return Number(itinerary.down('dd.emission strong').innerHTML.gsub(/[^0-9\.]/, '')); });
  if (cheapestFootprint == lowestFootprint) {
    highlightAsBest(cheapestItinerary);
  } else {
    bestItinerary = $$('ol.itineraries>li').reject( function(itinerary) {
      Number(itinerary.down('dd.price a').innerHTML) == lowestPrice;
    }).sortBy( function(itinerary) {
      footprintSavings = cheapestFootprint - Number(itinerary.down('dd.emission strong').innerHTML.gsub(/[^0-9\.]/, ''));
      additionalCost = Number(itinerary.down('dd.price a').innerHTML) - lowestPrice;
      return (footprintSavings / additionalCost) ;
    }).last();
    highlightAsBest(bestItinerary);
  }
}

function highlightAsBest(el) {
  el.addClassName('best');
}
</script>
<% end %>
