<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr" id="brighterplanet-com">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Language" content="en" />
  <title><%= @title ? "#{@title} [Careplane]" : 'Careplane' %></title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'prototype' %>
  <link rel="icon" type="image/vnd.microsoft.icon" href="/favicon.ico" />
</head>
<body>
  <h1 class="careplane"><%= link_to_unless_current 'Careplane', root_path %></h1>
  <div id="content">
  <%= yield :layout %>
    <div id="footer">
      <p class="totem"><span class="heart">❤</span><span class="airplane">✈</span></p>
      <p id="attribution"><%= link_to 'Brighter Planet', 'http://brighterplanet.com' %> made <%= link_to_unless_current '<span class="careplane">Careplane</span>', root_path %> to show off its shiny new <%= link_to 'carbon emission calculation web service', 'http://carbon.brighterplanet.com' %>.</p>
      <p>Want to add carbon emissions to your application? <%= mail_to 'info@brighterplanet.com', 'Get in touch' %>.</p>
    </div>
  </div>
  <%= yield :bottom %>
</body>
</html>
